
<!-- Admin Sidebar -->
<div class="sidebar">
    <h2>LunaLoom Admin</h2>

    <ul>
        <li class="<%= activePage === 'dashboard' ? 'active' : '' %>">
            <a href="/dashboard">
                <i class="fa fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="<%= activePage === 'orders' ? 'active' : '' %>">
            <a href="/admin-orders">
                <i class="fa fa-receipt"></i>
                <span>Orders</span>
            </a>
        </li>

        <li class="<%= activePage === 'products' ? 'active' : '' %>">
            <a href="/products">
                <i class="fa fa-box"></i>
                <span>Products</span>
            </a>
        </li>

        <li class="<%= activePage === 'customers' ? 'active' : '' %>">
            <a href="/customers">
                <i class="fa fa-users"></i>
                <span>Customers</span>
            </a>
        </li>

        <li class="<%= activePage === 'coupons' ? 'active' : '' %>">
            <a href="/coupons">
                <i class="fa fa-tags"></i>
                <span>Coupons</span>
            </a>
        </li>

          <li class="<%= activePage === 'banner' ? 'active' : '' %>">
            <a href="/banner">
                <i class="fas fa-photo-video me-2"></i>
                <span>Banner Image</span>
            </a>
        </li>

        <li class="<%= activePage === 'support' ? 'active' : '' %>">
            <a href="/support">
                 <i class="fas fa-headset me-2"></i>
                <span>Support</span>
            </a>
        </li>
    </ul>
</div>

