
<!-- Admin Sidebar -->
<div class="sidebar">
    <h2>LunaLoom Admin</h2>

    <ul>
        <li class="<%= activePage === 'dashboard' ? 'active' : '' %>">
            <a href="/dashboard">
                <i class="fa fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="<%= activePage === 'orders' ? 'active' : '' %>">
            <a href="/admin-orders">
                <i class="fa fa-receipt"></i>
                <span>Orders</span>
            </a>
        </li>

        <li class="<%= activePage === 'products' ? 'active' : '' %>">
            <a href="/products">
                <i class="fa fa-box"></i>
                <span>Products</span>
            </a>
        </li>

        <li class="<%= activePage === 'customers' ? 'active' : '' %>">
            <a href="/customers">
                <i class="fa fa-users"></i>
                <span>Customers</span>
            </a>
        </li>

        <li class="<%= activePage === 'coupons' ? 'active' : '' %>">
            <a href="/coupons">
                <i class="fa fa-tags"></i>
                <span>Coupons</span>
            </a>
        </li>

          <li class="<%= activePage === 'banner' ? 'active' : '' %>">
            <a href="/banner">
                <i class="fas fa-photo-video me-2"></i>
                <span>Banner Image</span>
            </a>
        </li>

        <li class="<%= activePage === 'support' ? 'active' : '' %>">
            <a href="/support">
                 <i class="fas fa-headset me-2"></i>
                <span>Support</span>
            </a>
        </li>

       <li style="margin-top: 0;">
        <form action="/admin/logout" method="POST" style="margin: 0;">
        <button
        type="submit"
        style="
        width: 100%;
        background: none;
        border: none;
        color:black;
        padding: 12px 20px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 15px;
      "
      onmouseover="this.style.backgroundColor='#B22222'"
      onmouseout="this.style.backgroundColor='transparent'"
    >
      <i class="fa fa-right-from-bracket"></i>
      <span>Logout</span>
    </button>
  </form>
</li>


    </ul>
</div>

