<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.title || "Product" %></title>
  <link rel="icon" href="/img/favicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Animation and carousel -->
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">

  <!-- Font Awesome & Icons -->
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/themify-icons.css">

  <!-- Popup & Slider -->
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/slick.css">

  <!-- Shared and page-specific CSS -->
  <link rel="stylesheet" href="/css/style.css"> <!-- main site styles (home, header, etc.) -->
  <link rel="stylesheet" href="/css/header.css"> <!-- header/navbar styles -->
  <link rel="stylesheet" href="/css/footer.css">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/singleProduct.css">
</head>
<body>

<%- include('../partials/header') %>

<div class="product-container">

  <!-- Image Box -->
  <div class="image-box">
    <% if(product.images && product.images.length > 0){ %>
      <img src="<%= product.images[0] %>" alt="<%= product.title %>">
    <% } else { %>
      <img src="/img/default-product.png" alt="Default Product">
    <% } %>
  </div>

  <!-- Details Box -->
 <div class="details-box">
    <h1 class="title"><%= product.title || "No Title" %></h1>
    <p class="price">₹<%= product.price || "0" %></p>
    <p class="description"><%= product.description || "No Description" %></p>

    <div class="button-group">
        <a href="/cart/add/<%= product._id %>" class="btn add-cart">Add to Cart</a>
        <a href="/buy/<%= product._id %>" class="btn buy-now">Buy Now</a>
    </div>
</div>


<%- include('../partials/footer') %>

</body>
</html>
